header{
    background-color: black;
    text-align: center;
    color: white;
}

.foto-perfil{
    size: 50%;
}

body{
    background-color: black;
    color: white;
    text-align: center;
}
