.cabecalho{
    background-color: black;
    text-align: center;
    color: white;
}

.principal{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}