header{
    background-color: black;
    text-align: center;
    color: white;
}

.foto-perfil{
    max-width: 800px;
    max-height: 600px;
}

body{
    background-color: black;
    color: white;
    text-align: center;
}
footer{
    background-color: white;
    color: black;
}
.imagem_footer{
    max-width: 80px;
    max-width: 60px;
}
